+ streamlit==1.31.0
+ langchain==0.1.0
+ langchain-core==0.1.22
+ langchain-groq==0.1.0
+ langchain-community==0.0.21
+ groq==0.4.0
+ pypdf2==4.0.0
+ pandas==3.0.0
+ chromadb==0.4.22
+ python-dotenv==2.0.0
+ fpdf==2.0.0
+ tiktoken==0.6.0
+ sentence-transformers==2.2.2
+ torch==2.0.0
